sudo apt update
sudo apt install git mysql-client -y
git clone -b vp-rem https://github.com/niroza444/Cloud_project.git
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/Cloud_project/src/main/resources/db_backup.sql